
.wrapper {
  background: #d26046;
  height: 100vh;
  display: flex;
  text-align: center;
  align-items: center;
}

/* Style UserInputs area */
input{
  background: #363237;
  border: 0;
  border-bottom: solid 1px #B6452C;
  width: 30%;
  padding-bottom: 4px;
  color: #fff !important;
  margin-bottom: 35px;
  margin-right: 20px;
  font-size: 20px;
}

/* Title area */
.title-area {
  background: url("images/weather_image2.jpg")center no-repeat;
  padding: 20px;
  margin: 20px;
  text-align: center;
  color: black;
}

.container {
  text-align: center;
  background: #363237;
  height: 90vh;
  margin: 0 auto;
  padding-top: 20px;
}

/* Form area text color */
.form-area {
  color: #cccccc;
}
/* Form button styles */
.form-area button {
  background: #d26046;
  border: 0;
  padding: 5px;
  text-align: left;
  color: #fff !important;
}

/* Add font size to icon and move to right */
.col-xs-6.left {
  text-align: right;
  font-size:2em;
}
/* Add font size to location and move to left */
.col-xs-6.right {
  text-align: left;
  font-size: 2em;
}
